.button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 175px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.button:hover {
  color: white;
  background-color: #9e9c9c;
}

@media (max-width: 650px) {
  .button {
    letter-spacing: normal;
    min-width: 120px;
    padding: 10px 10px;
  }
}
/*# sourceMappingURL=Button.module.css.map */