.title {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner .item:first-child {
  margin-right: 4%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column img:first-child {
  margin-bottom: 1rem;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: auto;
  width: 100%;
}

.image__small {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 48%;
  max-height: 330px;
}

.image__long {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 45%;
  max-height: 580px;
}

.image__column {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 45%;
  max-height: 290px;
}

.text,
.text__small {
  text-indent: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;
}

@media (max-width: 800px) {
  .content {
    gap: 2rem;
  }
  .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .inner .item:first-child {
    margin-right: 0;
  }
  .image__small, .image__long, .image__column {
    max-width: 100%;
  }
  .text,
  .text__small {
    text-indent: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 100;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 1.75rem;
    font-weight: 500;
    padding: 2rem 0 1.5rem;
  }
}
/*# sourceMappingURL=screen.module.css.map */