.title {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.inner {
  display: flex;
  align-items: center;
  .item:first-child {
    margin-right: 4%;
  }
}
.column {
  display: flex;
  flex-direction: column;
  img:first-child {
    margin-bottom: 1rem;
  }
}
.image {
  object-fit: cover;
  display: block;
  height: auto;
  width: 100%;
  &__small {
    object-fit: cover;
    max-width: 48%;
    max-height: 330px;
  }
  &__long {
    object-fit: cover;
    max-width: 45%;
    max-height: 580px;
  }
  &__column {
    object-fit: cover;
    max-width: 45%;
    max-height: 290px;
  }
}
.text,
.text__small {
  text-indent: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;
}
@media (max-width: 800px) {
  .content {
    gap: 2rem;
  }
  .inner {
    flex-direction: column;
    gap: 2rem;
    .item:first-child {
      margin-right: 0;
    }
  }
  .image {
    &__small,
    &__long,
    &__column {
      max-width: 100%;
    }
  }
  .text,
  .text__small {
    text-indent: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 100;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 1.75rem;
    font-weight: 500;
    padding: 2rem 0 1.5rem;
  }
}
