.catalog {
  .title {
    font-size: 3rem;
    font-weight: 500;
    padding: 4rem 0 2rem;
  }
  .buttons {
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .button {
    font-size: 1rem;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    background-color: white;
    padding: 16px 8px;
    transition: all ease 0.2s;
    &:hover {
      background: #9e9c9c;
      color: white;
    }
  }
  .navdown {
    margin: 5rem 0;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2rem;
  }
  .arrow {
    transition: all ease 0.2s;
    color: black;
    &:hover {
      background: #9e9c9c;
    }
  }
  .arrow__right {
    transform: rotateY(180deg);
  }
  .slider {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    .slider {
      max-width: 100%;
    }
  }
  @media (max-width: 650px) {
    .title {
      font-size: 2rem;
      font-weight: 500;
      padding: 3rem 0 1.5rem;
    }
  }
  @media (max-width: 500px) {
    .button {
      font-size: 1rem;
      width: 100%;
      border: 1px solid #e5e7eb;
      cursor: pointer;
      background-color: white;
      padding: 16px 8px;
    }
  }
}
