.benefits {
  .wrapper {
    width: 340px;
    display: flex;
    gap: 1rem;
    line-height: 1.75rem;
    font-weight: 200;
  }
  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .title {
    font-size: 3rem;
    font-weight: 500;
    padding: 5rem 0;
  }
  .item__title {
    font-size: 20px;
  }
  .icons {
    line-height: 0;
    padding: 8px;
    display: inline-block;
    border: 1px solid black;
  }
}
@media (max-width: 650px) {
  .benefits {
    .title {
      font-size: 2rem;
      font-weight: 500;
      padding: 3rem 0 1.5rem;
    }
  }
}
