.intro {
  position: relative;
  .text__bottom,
  .text__top {
    font-weight: 100;
    max-width: 48rem;
    background-color: rgba(243, 244, 246, 0.8);
    padding: 1.2rem;
    margin: 1.5rem 3rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.75rem;
  }
  .text__top {
    top: 24px;
    right: 0;
  }
  .text__bottom {
    bottom: 0;
    left: 0;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .intro {
    .text__bottom,
    .text__top {
      margin: 1rem 1rem;
      max-width: 48rem;
      padding: 0.2rem;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }
}
