@import './styles/normalize';
@import './styles/home/intro.scss';
@import './styles/home/benefits.scss';
@import './styles/catalog/catalog.scss';

body {
  background: rgb(247, 247, 247);
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(213, 213, 216, 1) 100%
  );
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
}
.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 30px auto 24px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: white;
}
.content {
  margin: -5px 0 24px;
  padding: 0 24px 50px;
}
.map {
  max-width: 1000px;
  height: 450px;
  background: rgb(252 165 165 / 1);
}
.PhoneInput {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e5e7eb;
  height: 38px;
}
.PhoneInputInput {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  border: none;
}
.PhoneInputCountrySelectArrow {
  color: black;
}
.PhoneInputCountryIcon {
  color: black;
}
.active {
  // background: #d5d7e4;
  color: #9e9c9c;
}
.active__menu {
  right: 0;
}
.comment__wrapper.open {
  height: auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 90%;
    margin: 30px auto 0;
  }
}
.contacts {
  .title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem 0 0;
  }
  .name {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    font-size: 3rem;
  }
  .text p,
  .text p a {
    color: black;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 20% 20%;
    margin-top: 4rem;
    &__item {
      margin: 15px 0;
      font-weight: 300;
      font-size: 1rem;
      padding-left: 40px;
      position: relative;
      .item__text {
        color: black;
        font-size: 1rem;
        font-weight: 100;
      }
      &::before {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        display: inline-block;
        width: 30px;
        height: 1px;
        background: black;
      }
    }
  }

  .icons {
    display: flex;
    padding: 16px 32px;
    gap: 15px;
    a {
      font-size: 0;
    }
    svg {
      line-height: 0;
      width: 32px;
      height: 32px;
      color: blue;
      transition: all ease 0.2s;
      &:hover {
        color: black;
      }
      &.green {
        color: #09b309;
        &:hover {
          color: black;
        }
      }
    }
  }
  .feedback {
    margin-top: 3rem;
    display: flex;
    gap: 200px;
    justify-content: space-between;
    &__title {
      font-size: 1.8rem;
      line-height: 2.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &__info {
      width: 100%;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 20px;
    a {
      color: black;
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 1rem;
    }
    svg {
      line-height: 0;
      width: 32px;
      height: 32px;
      color: blue;
    }
  }
  @media (max-width: 800px) {
    .name {
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1;
      font-size: 2.5rem;
    }
    .feedback {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
  @media (max-width: 680px) {
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3rem;
      &__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        flex-direction: row;
      }
    }
    .icons {
      display: flex;
      padding: 8px 16px;

      svg {
        width: 32px;
        color: blue;
      }
    }
  }
  @media (max-width: 500px) {
    .info {
      margin-top: 1rem;
      &__item {
        font-size: 0.9rem;
      }
    }
  }
}
